/*Variables*/
$font-header: 'Kanit', sans-serif;
$font-text: 'Markazi Text', serif;
$font-logo: 'Pattaya', sans-serif;

/*Navigation*/

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    margin: 0 12px 0 12px;
    font-family: $font-header;
    font-size: 16px;
    cursor: pointer;
}

.navigation p {
    color: #e4bc36;
    font-family: $font-logo;
    font-size: 24px;
    font-style: italic;
}