/*Variables*/
$font-header: 'Patua One', cursive;
$font-text: 'Markazi Text', serif;
$font-logo: 'Pacifico', cursive;

/*Navigation*/

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    margin: 0 13px 0 13px;
}

.navigation p {
    color: #EEBA4C;
}