/*Variables*/
$font-header: 'Kanit', sans-serif;
$font-text: 'Crimson Text', serif;
$font-logo: 'Pattaya', sans-serif;

/*General*/

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*Navigation*/

.navigation {
    background: url('https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg');
}

.navigation ul {
    list-style: none;
    margin: 40px 0 5px 0;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    margin: 0 12px 0 12px;
    font-family: $font-header;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.logo {
    color: #e4bc36;
    font-family: $font-logo;
    font-size: 24px;
    font-style: italic;
    margin: 40px 0 5px 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

/*Splash*/

.splash {
    background: url('https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
    position: relative;
}

.splash h1 {
    color: #fff;
    font-family: $font-header;
    font-size: 80px;
    margin: 5px 0 10px 0;
}

.splash h3 {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-size: 45px;
    font-family: $font-text;
    margin: 0 5px 0 5px;
}

.splash btn {
    display: inline-block;
    color: #fff;
    font-family: $font-header;
    font-weight: bold;
    background: #fed136; 
    letter-spacing: 2px;
    font-size: 19px;
    border-radius: 5%;
    text-align: center;
    padding: 25px;
    position: absolute;
    left: 40%;
}

/*Services*/

.services h1 {
    font-family: $font-header;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}

.services h4 {
    font-family: $font-text;
    font-size: 17px;
    text-align: center;
    color: #858b89;
    margin: 0 auto 120px auto;
}

.services i {
    color: #e4bc36;
    font-size: 40px;
    position: absolute;
    right: 50%;
    top: -20%;
}

.services h3 {
    font-family: $font-header;
    text-align: center;
    position: relative;
}

.services p {
    font-family: $font-text;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: #858b89;
}

/*Footer*/

.page-footer p {
    font-family: $font-header;
    margin: 30px 0 30px 0;
}

.social-media li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.page-footer ul {
    margin: 30px 0 30px 0;
}

.page-footer .fab {
    font-size: 18px;
    color: #FFF;
    background: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 12px;
}